footer.top
  a(href='/admin/posts')
    button Posts  
  a(href='/media')
    button Media
  a(href='/admin/messages')
    button Messages 
  a(href='/logout')
    button 
      | <span class="icon">v</span>
footer.bg
