header#leftbar
  div.clearfix.container
    aside#logo.cube
      div.back
      div.front
        a.site-logo(href='/') doublerebel
  ul#author_meta
    li.blog_name
      h1
        a(href='http://blog.doublerebel.com') doublerebel
      li.author_name
        h2
          a(href='http://blog.doublerebel.com') Charles Phillips
