section#one
  ul
    - each post in posts
      li
        h2
          a(href='/admin/posts/' + post._id)!= post.title
        h4
          time 
            != moment(post.date).format('LL')

footer#createdby
  div#admin-posts.content
    - if (notice)
      p =notice

    button
      a(href='/admin/posts/new') New post
