section#two
  div#admin-posts.content
      - if (notice)
        p =notice

      a(href='/admin/posts/new') New post

section#one
  ul
    - each post in posts
      li
        h2
          a(href='/admin/posts/' + post._id)!= post.title
        h4
          time 
            != moment(post.date).format('LL')