section#river
  header#headwaters
    time
      small November
      | &nbsp;06, 2012

    a#search-button(href="#") 
      | <span class="icon">z</span>  

    !=partial('search_field')
  

  - if (posts.length == 0)
    article.post
      p Nenhum post encontrado
  - else
    - each post in posts
      article.post(id=post.urlid)
        header
          h2
            a.title(href='/'+post.urlid)!= post.title
        time
          != moment(post.date).format('LL')
        p
          != md.parse(post.body)
        != partial('post_tags', {post : post})

    
    - if (posts.length == 10)
      div.nav_botton
        div.old_posts_nav_link
          a(href='/page/' + ( (!req.params.id) ? 2 : (parseInt(req.params.id) + 1) ))
            img.icon(src='/img/back.png') 
            span.label!= __('Old Posts')

                  
                
                  
