extends ../layout

block content

section#river
  div.content
    article.post
      header
        h2
          a.title(href='/'+post.urlid)!= post.title
      p.meta
        != moment(post.date).format('LL')
        //- a.author(href='/sobre')
        //-   img(src='/img/about/gui.png', width='68', height='68')
      include ../post_tags
      p!= md.parse(post.body)

