html(lang="en")
  head
    include common_head

  body
    include menu
    block content

    footer#createdby
      aside#doublerebel_com
        a(href='https://doublerebel.com')
          span.logo
            span.logo_inner  
          span.doublerebel doublerebel.com
      aside#credit
        span
          a(href='http://github.com/doublerebel/nodejs_blog') Blatant
          | &nbsp;fork of&nbsp;
          a(href='http://svbtle.com') Svbtle
          | &nbsp;
          br
          | powered by&nbsp;
          a(href='https://github.com/guidefreitas/nodejs_blog') nodejs_blog
          | .

    include analytics
